<a href="https://colab.research.google.com/github/peelu1/Machine-Learning-Projects/blob/main/SMS_Spam_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing  Libraries

In [1]:
import pandas as pd
import numpy as np

# Importing dataset

In [2]:
df = pd.read_csv('spam.csv',encoding='latin-1')
df.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [3]:
df = df.rename(columns={'v1':'class','v2':'message'})
df.head()

  class  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [4]:
df.shape

(5572, 5)

In [5]:
df = df[['class','message']]
df.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

# Split data into training and testing set

In [8]:
X = np.array(df['message'])
y = np.array(df['class'])

# Feature Engineering

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(X)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=51)

# Model Training

In [11]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train,y_train)

MultinomialNB()

# Testing the model

In [15]:
classifier.score(X_train,y_train)

0.9930350924189659

In [14]:
sample = input('Enter a message:')
df = cv.transform([sample]).toarray()
print(classifier.predict(df))

Enter a message:you won $25 cash
['spam']